---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../assets/me.json';

const { default: meData }= await import('../assets/me.json');

---

<Layout>
	<h1>{meData.nombre}</h1>
	<br>
	<section>
		<h2>Edad</h2>
		<ul>
			<li>{meData.edad}</li>
		</ul>
	</section>
	<section>
		<h2>Ocupación</h2>
		<ul>
			<li>{meData.ocupacion}</li>
		</ul>
	</section>
	<section>
		<h2>Profesión</h2>
		<ul>
			<li>{meData.profesion}</li>
		</ul>
	</section>
	<section>
		<h2>Estudios</h2>
	<ul>
		<li>{meData.estudios[0].nombre}</li>
		<p>{meData.estudios[0].descripcion}</p>
		<li>{meData.estudios[1].nombre}</li>
		<p>{meData.estudios[1].descripcion}</p>
		<li>{meData.estudios[2].nombre}</li>
		<p>{meData.estudios[2].descripcion}</p>
	</ul>
	</section>
	<section>
		<h2>Habilidades</h2>
		<ul>
			<li>{meData.habilidades[0].nombre}</li>
			<li>{meData.habilidades[1].nombre}</li>
			<li>{meData.habilidades[2].nombre}</li>
			<li>{meData.habilidades[3].nombre}</li>
			<li>{meData.habilidades[4].nombre}</li>
		</ul>
	</section>
	<section>
		<h2>Experiencia</h2>
		<ul>
			<li>{meData.experiencia[0].nombreEmpresa}</li>
			<li>{meData.experiencia[0].descripcion}</li>
			<li>{meData.experiencia[0].duracion}</li>
		</ul>
	</section>
	<section>
		<h2>Habilidades Tecnicas</h2>
		<ul>
			<li>{meData.habilidades_tecnicas[0].nombre}</li>
			<li>{meData.habilidades_tecnicas[1].nombre}</li>
			<li>{meData.habilidades_tecnicas[2].nombre}</li>
			<li>{meData.habilidades_tecnicas[3].nombre}</li>
		</ul>
	</section>
	<section>
		<h2>Herramientas</h2>
		<ul>
			<li>{meData.herramientas[0].nombre}</li>
			<li>{meData.herramientas[1].nombre}</li>
			<li>{meData.herramientas[2].nombre}</li>
			<li>{meData.herramientas[3].nombre}</li>
		</ul>
	</section>
</Layout>