---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import '../assets/me.json';

const { default: meData }= await import('../assets/me.json');

---

<Layout>
	<section class="principal">
		<p class="nombre">{meData.nombre}</p>
		<p class="profesion">{meData.profesion}</p>
		<p class="miedad">{meData.edad}</p>
		<p class="bio">{meData.ocupacion}</p>
	</section>
	<section>
		<h2>Estudios</h2>
		{meData.estudios.map((exp) => (
			<article class="estudios">
				<p class="p_estudios">{exp.nombre}</p>
				<p>{exp.descripcion}</p>
			</article>
		))}
	</section>
	<section>
		<h2>Habilidades</h2>
		<div class="envoltura-habilidades">
			{meData.habilidades.map((exp) => (
				<article class="habilidades">
					<p class="habilidad_p">{exp.nombre}</p>
				</article>
			))}
		</div>
	</section>
	<section>
		<h2>Experiencia</h2>
		{meData.experiencia.map((exp) => (
			<article class="experiencia">
				<p class="p_empresa">{exp.nombreEmpresa}</p>
				<p>{exp.descripcion}</p>
				<p>{exp.duracion}</p>
			</article>
		))}
	</section>
	<section>
		<h2>Habilidades Tecnicas</h2>
		{meData.habilidades_tecnicas.map((exp) => (
			<article class="habilidades_tecnicas">
				<p class="p_nombre">{exp.nombre}</p>
				<p>{exp.nivel}</p>
				<p>{exp.descripción}</p>
			</article>
		))}
	</section>
	<section>
		<h2>Herramientas</h2>
		{meData.herramientas.map((exp) => (
			<article class="herramientas">
				<p>{exp.nombre}</p>
			</article>
		))}
	</section>
</Layout>